@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display';
}

html{
    scroll-behavior: smooth;
}

#inicio{

    background-color:hsl(316, 44%, 74%);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

#inicio .contenido header{
    background-color: hsl(328, 80%, 64%);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

#inicio .contenido header .contenido-header{
max-width: 1100px;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 20px;
}

#inicio .contenido header .contenido-header h1{
    text-align: center;
    color:rgb(236, 236, 242);

}
#inicio .contenido header .contenido-header nav ul{
    list-style: none;
    display: flex;
    align-items: center;

}


#inicio .contenido header .contenido-header nav ul li a{
text-decoration: none;
color: azure;
margin: 0 12px;
font-weight: 400;
transition: .5s;

}

#inicio .contenido .presentacion .bienvenida{
    font-size:16px ;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
#inicio .contenido header .contenido-header nav ul a:hover{

color:yellow;

}

#inicio .contenido .presentacion {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    columns: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#inicio .contenido .presentacion .bienvenida {
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#inicio .contenido .presentacion h2{
    font-size: 55px;
    margin-bottom: 25px;
    text-align: center;
}

#inicio .contenido .presentacion h2 span{
font-size: 55px;
color:white;
}

#inicio .contenido .presentacion .descripcion {
    max-width: 700px;
    margin: 25px auto;
    font-size:18px;
    text-align: center;
}

#inicio .contenido .presentacion a {
text-align: none;
display: inline-block;
margin: 25px;
padding: 20px 25px;
border: 2px solid #ffff;
font-weight: bold;
text-transform: uppercase;
transition: .5s;

}